.text{
    width: fit-content;
    background-color: black;
    color: aliceblue;
}


#arreglo1{
    padding: 10px;
    border: 2px solid black;
    border-radius: 45px;

    width: fit-content;
   text-align: center;


}